body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* agora logo at top left */
.logo {
  width: 10%;
  height: 10%;
  padding-top: 20px;
  padding-left: 20px;
}

#img-container {
  max-width: 100%;
  max-height: 100%;
}

#container {
  display: flex;
}

/* center portal with 2 panes */
.flex-container {
  width: 75%;
  height: 75%;
  justify-content: center;
  margin-top: 15vh;
  display: flex;
  box-shadow: 5px 10px 18px #888888;
}

.flex-container .left-pane {
  padding: 10px;
  background: #099dfd;
  flex: 2;
  text-align: center;
}

.flex-container .right-pane {
  padding: 10px;
  background: white;
  flex: 2;
}

/* right pane specifics */
#login-container {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  margin-top: 20vh;
}

#headingText {
  font-size: 1.5rem;
}

#highlighted {
  color: #099dfd;
}

#email {
  margin-top: 20px;
}

input {
  margin-top: 10px;
  padding: 5px;
  width: 90%;
  font-size: 1.25rem;
  border: 2px solid #099dfd;
  border-radius: 5px;
}

.submitButton {
  background-color: #099dfd;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  border: none;
  font-size: 1.25rem;
  border-radius: 10px;
}

/* left pane specifics*/
#illustration {
  max-width: 100%;
  max-height: 100%;
}

#illustrationContainer {
  height: 60%;
  width: 60%;
  margin: 0 auto;
  margin-top: 15vh;
}

#bottomText {
  font-size: 1.75rem;
  color: white;
}
